@import "normalize";
@import "section/content";
@import "header/header";
@import "sidebar/sidebar";
@import "content/content";
@import "susy/grids";
@import "susy/show_hide";


html {
    @include breakpoint($phone-pair) {
        font-size: 70%;
    }

    @include breakpoint($tablet-pair) {
        font-size: 80%;
    }

    @include breakpoint($desktop-pair) {
        font-size: 90%;
    }
    @include breakpoint($large-pair) {
        font-size: 100%;
    }
}

$phone-container: $phone;
$tablet-container: $tablets;
$desktop-container: $desktop;
$large-container: $large-screen;

.onepage-wrapper{
    &::before{
        content: " ";
        display: table;
    }
    &::after{
        clear: both;
    }
    min-height: 100%;
    height: 100%;
    width: 100%;
    @include breakpoint($phone-pair) {
        @include container($phone-container);
    }

    @include breakpoint($tablet-pair) {
        @include container($tablet-container);
    }

    @include breakpoint($desktop-pair) {
        @include container($desktop-container);
    }

    @include breakpoint($large-pair) {
        @include container($large-container);
    }
    @include clearfix;
}

@include breakpoint($phone-pair) {
    .sidebar{
        display: none;
    }
    .content{
        @include span(12 of 12);
    }
}

@include breakpoint($tablet-pair) {
    .sidebar{
        display: none;
    }
    .content{
        @include span(12 of 12);
    }
}
@include breakpoint($desktop-pair) {
    .content{
        @include span(12 of 12 last);
    }
}
@include breakpoint($large-pair) {
    .content{
        @include span(12 of 12 last);
    }
}
.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

.left {
    float: left;
}