$header-height: 4em;

.logo-img {
    height: $header-height;
}

.logo-link {
    font-size: 1.5em;
}
header {
    line-height: $header-height;
    background-color: #f7f7f7;
    padding: 1%;
    li {
        display: inline;
        padding-left: 1em;
    }
    // height: 10vh;
}

.logo {
    float: left;
    position: relative;
}

.header-choice {
    float: right;
    position: relative;
}



.toggle {
    display: none;
}
@include breakpoint($phone) {
    .header-choice-item{
        display: inline;
    }
}
@include breakpoint($phone-pair) {
    .header-choice {
        height: 40px;
        display: none;
        height: auto;
        float: left;
    }
    .toggle {
        position: relative;
        width: 100%;
        display: block;
        &:hover{
            cursor: pointer;
        }
    }
    .toggle::after{
        content: "";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;

    }

    .header-choice-item {
        display: block;
        width: 100%;
        text-align: left;
    }
}
