.content {
    background-color: #898989;
}

main {
    background-color: #eee;
}

.page_view {
    float: left;
}

.height_full {
    // position: absolute;
    position: absolute;

}

#onepage {
    position: relative;
}

#onepage-wrapper {
    overflow: hidden;
}

.current_page {
    position: relative;
}